landingfooter {
    background-Color: black;
    
    font-Family: Tenon;
    font-size: 22px;
    color: white;
    padding: 91px 0px 110px 0px;
    a {
        font-size: 14px;
    }
    &:hover {
        font-size: 15px;
    }

}