.landingfooter {
    background-Color: black;
    
    font: normal normal bold 22px/24px Tenon;
    color: white;
    height: 382px;
    width: 100%;
    padding: 91px 118px 0px 110px;
    list-style-type: none;
    
    a {
        font: normal normal normal 14px/37px Tenon;
        color: white;
        list-style-type: none;
    }
    a:hover{
        text-decoration: none;
        font-weight: bold;
    }
    .footercolumn {
        vertical-align: text-top; 
        list-style-type: none;
    }
}
.landingcreatorfooterbar{
    background-color: #ED1470;
    color: #ED1470;
    height: 41;
    width: 100%;
}
.landingcampaignfooterbar{
    background-color:blue;
    color: blue;
    height: 41;
    width: 100%;
}
ul {
    display: inline-block;
    list-style-type: none;
}
.footercolumnright{
    vertical-align: text-top; 
    list-style-type: none;
    float: right;
}