.landingfooter {
    background-Color: black;
    
    font: normal normal bold 22px/24px Tenon;
    color: white;
    height: 382px;
    width: 100%;
    padding: 91px 118px 0px 110px;
    a {
        font: normal normal normal 14px/37px Tenon;
        color: white;
    }
    .footercolumn {
        vertical-align: text-top; 
    }
}
.landingfooterbar{
    background-color: #ED1470;
    color: #ED1470;
    height: 41;
    width: 100%;
}